
#heading
{
    font-size: 30px;
    width: 100%;
    margin: 0px;
    top:0;
    position: fixed;
    background-color:#cab192;
    padding: 15px;
    color: white;
}

#status
{
    font-size: 18px;
    padding: 10px;
    background-color: #4b4c48;
    color: white;
    width: fit-content;
    border-radius: 5px;
}
body{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
}
canvas{
    border-radius: 5px;
    border-color: #cab192;
    box-shadow: 10px 10px 40px #cab192;
    text-transform: uppercase;
}

